program: vlm_sweep.py
method: bayes
metric:
  name: val_loss
  goal: minimize
parameters:
  learning_rate:
    distribution: log_uniform_values
    min: 1e-4
    max: 1e-2
  batch_size:
    values: [32, 64, 128]
  # Model capacity - Text decoder
  embed_size:
    values: [128, 256, 512]
  head_num:
    values: [4, 8]
  layer_num:
    values: [4, 6, 8]
  # Model capacity - Vision encoder
  vit_num_layers:
    values: [2, 4, 6]
  vit_num_heads:
    values: [4, 8]
  image_embed_dim:
    values: [256, 512]
early_terminate:
  type: hyperband
  min_iter: 100
  eta: 3
